[run]
source = .
omit = 
    tests/*
    .pytest_cache/*
    htmlcov/*
    venv/*
    .venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError